.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 1000ms, visibility 1000ms;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  position: absolute;
  padding: 40px;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  background: var(--main-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform 700ms, opacity 350ms;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(-1, 0.01);
  }
}
.modal__button {
  position: absolute;

  top: 8px;
  right: 8px;
  display: inline-flex;
  align-items: center;

  width: 30px;
  height: 30px;

  background: var(--main-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: var(--button-color);
  }
}

.modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--main-text-color);
}
.data-form__item {
  margin-bottom: 10px;
}
.data-form__label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.data-form__input {
  padding-left: 42px;

  width: 100%;
  height: 40px;

  line-height: 16px;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  &:hover,
  &:focus {
    border: 1px solid var(--button-color);
    background-color: var(--main-background);
  }
}

.data-form__row {
  position: relative;
}
.data-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .data-form__input:hover + & {
    fill: var(--button-color);
  }
  .data-form__input:focus + & {
    fill: var(--button-color);
  }
}

.data-form-textarea {
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;

  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--button-color);
    background-color: var(--main-background);
  }
  &::placeholder {
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.data-form__checkbox {
  margin-bottom: 30px;
}

.data-form__checkbox-label {
  display: flex;
  align-items: center;
  // justify-content: space-evenly;

  line-height: 1.71;
  color: var(--primary-text-color);

  cursor: pointer;
  &::before {
    content: " ";
    // display: inline-block;
    width: 16px;
    height: 15px;
    display: block;
    margin-right: 10px;
    border: 1px solid var(--background-dark);
    border-radius: 2px;
  }
  .data-form__checkbox:checked + &::before {
    background-image: url(../images/icon-check.svg);
    border: none;
  }
  .data-form__checkbox:focus + &::before {
    background-image: url(../images/icon-check.svg);
    border: none;
  }
  .data-form__checkbox:hover + &::before {
    border: 1px solid var(--button-color);
  }
}

.data-form__checkbox-link {
  line-height: 1.71;
  color: var(--button-color);
  padding-left: 7px;
}
