:root {
  --main-text-color: #212121;
  --primary-text-color: #757575;
  --alternative-text-color: #ffffff;
  --button-color: #2196f3;
  --main-background: #ffffff;
  --background-dark: #2f303a;
  --background-light: #f5f4fa;
  --interactiv-color: #188ce8;
  --link-color: #afb1b8;
}
